.product.cover-inner{
    position: relative;
    display: block;
    text-align: left;
    margin-top: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 68vh;
    .get-data{
        position: relative;
    }
}
.prod-tiles{
    margin-top: 5rem;
    @include breakpoint(laptop){
        margin-top: 2rem;
    }
}
.rtop-icon{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
.prodtile{
    display: flex;
    background: #ffffff50;
    border-radius: 23px;
    padding: 1rem;
    height: 10rem;
    margin-bottom: 1rem;
    position: relative;
    .tile-name{
        width: 50%;
        h5{
            font-size: 1.1rem;
        }
    }
    .tile-img{
        width: 50%;
        float: right;
        display: flex;
        align-items: end;
        img{
            max-width: 95%;
        }
    }
}
.tilecol-2{
    .row{
        justify-content: space-between;
    }
    .prodtile{
        height: 13rem;
        width: calc(50% - .5rem);
        &.sm-height{
            height: 7rem;
            width: 100%;
        }
    }
}